.text-center{
    text-align: center;
  } 
  .bg-red{
    background: red ; 
  } 
  .mx-auto{
    margin:auto; 
    text-align: center; 
    
  } 
  .m-w-20{
    max-width: 40w;
  } 
  .flex{
    
   display:flex;
    
  } 
  .flex-col{
    flex-direction: column;
  } 
  .items-center{
    align-items: center;
  }